@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

:root {
  /* Clear Colors */
  --eighteen:#181818;
  --rosita:#ED0E7D;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
}


header {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;

  background-color: var(--eighteen);
  
  text-align:center;
}

.links {
  font-size: 18px;
}

.links a { 
  position: relative;
  color: var(--rosita);
  text-decoration: none;  
}

.links a + a{
  margin-left: 30px;
}

.links a::after {
  content: "";
  width: 0%;
  height: 2px;
  
  position: absolute;
  left: 0;
  bottom: -4px;

  background-color: var(--rosita);
}


.links a:hover::after {
  content: "";
  width: 100%;

  transition: width 500ms ease-in-out;
}

.links a.active {
  font-weight: 700;
}


 /* === CARD ===  */

.card {
  margin: 60px auto;
  width: 800px;
  min-height: 500px;
  
  display: grid;
  grid-template-columns: 40% 60%;
  
  background-color: #fff;
  box-shadow: 0 2px 7px 7px #000;

  animation: escorrega 700ms ease-in-out;
}

.details {
  padding: 30px;
}

.details .item {
  padding: 16px 0;
  border-top: 1px solid #ccc;
}

.details .info div:first-child {
  border: none;
}

.details h3,
.details .item div:nth-child(1){
  color: #888;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.details .item div:nth-child(2){
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.details h3 {
  color: var(--rosita);
  text-transform: uppercase;
}

.details .item span{
  padding: 7px;
  margin-top: 10px;
  margin-right: 5px;
  
  display: inline-block;
  
  color: #fff;

  border-radius: 20px;
  background-color: #ED0E7D;
}


/* ANIMATION */

@keyframes escorrega{
  from {
    opacity: 0;
    transform: translateX(-550px);
  }
  
  to {
    opacity: 1;
  }
}


/* INPUTS */

input {
  margin-top: 5px;
  
  width: 100%;
  outline: none;


  color:#555;
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"]{
  width:initial;
  margin-right: 4px;
}

input::placeholder{
  font-size: 16px;
  font-weight: normal;
}

select {
  outline: none;

  padding: 5px;

  border-radius: 4px;
  color: #fff;

  font-size: 16px;
  font-weight: bold;

  background-color: var(--rosita);
  
}

option:checked{
  background-color: #181818;
}


select option {
  font-weight: bold;
  cursor: pointer;
}


button[type="submit"]{
  width: 100%;
  padding: 10px;
  
  color: #fff;
  font-size: 20px;
  font-weight: bold;

  background-color: var(--rosita);
  border-radius: 4px;
}

button[type="submit"]:hover{
  cursor: pointer;
  background-color: rgb(202, 6, 104);
}