@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

:root {
  /* Clear Colors */
  --azulino:#CDE8F0;
  --laranjino:#f0a28a;
  --verdeperto:#1f6c6e;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #F6F7EC;
  font-family: 'Roboto', sans-serif;
}


header {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;

  background-color: var(--azulino);
  
  text-align:center;
}

.links {
  font-size: 18px;
}

.links a { 
  position: relative;
  color: var(--verdeperto);
  text-decoration: none;  
}

.links a + a{
  margin-left: 30px;
}

.links a::after {
  content: "";
  width: 0%;
  height: 2px;
  
  position: absolute;
  left: 0;
  bottom: -4px;

  background-color: var(--verdeperto);
}


.links a:hover::after {
  content: "";
  width: 100%;

  transition: width 500ms ease-in-out;
}

.links a.active {
  font-weight: 700;
}