<html>
  <head>
    {% block head %}
      <title>Gym Control</title>
    {% endblock head %}
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/563/563828.svg" type="image/x-icon">
  </head>

  <body>
    <header>
    <div class="links">
      <a href="/" class="active">Instructors</a>
      <a href="/members">Members</a>
    </div>
    </header>

    {% block content %}
    {% endblock content %}
  </body>
</html>