{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section 
      class="avatar"
      style="background:url(https://source.unsplash.com/collection/190728/800x800) no-repeat center center / cover"></section>

    <section class="details">
      <h3>Details</h3>
      
      <div class="info">
        <div class="item">
          <div>Teacher</div>
          <div>Mayk Brito</div>
        </div>

        <div class="item">
          <div>Age</div>
          <div>26</div>
        </div>


        <div class="item">
          <div>Education Level</div>
          <div>Complete Higher Education</div>
        </div>

        <div class="item">
          <div>Class Type</div>
          <div>Remotely</div>
        </div>

        <div class="item">
          <div>Follow-up</div>
          <div class="label">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
          </div>
        </div>
        
        <div class="item">
          <div>Since</div>
          <div>21/04/2017</div>
        </div>
      </div>
      

    </section>
  </div>
{% endblock content %}
