{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section 
      class="avatar"
      style="background:url({{teacher.avatar_url}}) no-repeat center center / cover"></section>

    <section class="details">
      <h3>Details</h3>
      
      <div class="info">
        <div class="item">
          <div>Teacher</div>
          <div>{{teacher.name}}</div>
        </div>

        <div class="item">
          <div>Age</div>
          <div>{{teacher.birth}}</div>
        </div>


        <div class="item">
          <div>Education Level</div>
          <div>{{teacher.education}}</div>
        </div>

        <div class="item">
          <div>Class Type</div>
          <div>{{"Presential" if teacher.learning == "P" else "Remotely"}}</div>
        </div>

        <div class="item">
          <div>Follow-up</div>
          <div class="label">
            {% for segment in teacher.segment %}
              <span>{{segment}}</span>
            {% endfor %}
          </div>
        </div>
        
        <div class="item">
          <div>Since</div>
          <div>{{teacher.created_at}}</div>
        </div>
      </div>
      
      <button onclick="window.location.href='/teachers/{{teacher.id}}/edit'" type="submit">Edit</button>
    </section>
  </div>
{% endblock content %}
