{% extends "layout.njk" %}

{% block content %}
  <form class="card" method="POST" action="/instructors">
  {# Action -> para onde vai #}
    <section 
      class="avatar" 
      style="
        background: url(https://source.unsplash.com/collection/8969654/900x900)  no-repeat center center / cover"></section>
                                              {# api unsplash, que randomiza as fotos,   /id servido da collection / tamanho  #}
    <section class="details">
      <h3>Edit Instructor</h3>

      {% include 'instructors/fields.njk' %} {# inclui um pedaço de código q está alocado em outro lugar #}

      
    </section>
  </form>
{% endblock content %}