{# Campos do fromulário do instrutor #}
<div class="item">
        <div>Avatar URL</div>
        <div>
          <input 
            type="url"
            name="avatar_url"
            placeholder="http://"
          >
        </div>
      </div>

      <div class="item">
        <div>Instructor</div>
        <div>
          <input 
            type="text"
            name="name"
            placeholder="Instructor Name"
          >
        </div>
      </div>

      <div class="item">
        <div>Date of Birth</div>
        <div>
          <input 
            type="date"
            name="birth"
          >
        </div>
      </div>

      <div class="item">
        <div>Genre</div>
        <div>
          <span><input type="radio" name="genre" value="M" checked>Male</span>
          <span><input type="radio" name="genre" value="F">Female</span>
        </div>
      </div>

      <div class="item">
        <div>Occupation Area</div>
        <div>
          <input 
            type="text"
            name="services"
            placeholder="Enter the services provided, separating with commas"
          >
        </div>
      </div>

      <button type="submit">Save</button>